/* File: src/App.css */

.App {
  text-align: center;
}

.page-content {
  padding: 20px;
  height: calc(100vh - 60px);
  box-sizing: border-box;
}

/* --- PAGE BACKGROUND THEMES --- */

/* This rule now uses the --bg-image variable passed from the Dashboard component */
.dashboard-background {
  /* It uses var() to access the variable */
  background-image: var(--bg-image);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.customers-background {
  background-color: #eaf2f8;
}

.jobs-background {
  background-color: #eaf2f8;
}
